Kurigram
motor
TgCrypto
Dnspython
cryptg
psutil
opencv-python-headless
python-decouple
requests
speedtest-cli
pymongo
aiohttp
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
Pillow
aiofiles
httpx
fastapi
uvicorn
python-multipart
boto3
razorpay